body {
  background-color: #eee;
  font-family: Roboto, sans-serif;
  line-height: 1.2em;
}

.container {
  max-width: 1200px;
  margin: 50px auto;
  padding-top: 50px;

  background-color: #fff;
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 33%;
  display: flex;
  flex-direction: column;
}

.person {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

.person h1 {
  margin-bottom: 5px;
}

.photo {
  max-width: 70%;
  border-radius: 50%;
}

.data-blocks {
  background-color: #e0e0e0;
  flex-grow: 1;
  padding: 0 30px 30px 30px;
}

.data-blocks ul li {
  margin-bottom: 5px;
}

.data-blocks > div {
  margin-bottom: 50px;
}

.data-blocks h2 {
  background-color: #828080;
  color: #fff;
  padding: 15px;
  text-align: center;
  max-width: 80%;
  margin-top: -20px;
}

.main {
  width: 67%;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}
